.hero-container {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     max-width: 1450px;
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 92vh;
}

.hero-info {
    display: flex;
    flex-direction: column;
}

.hero-title1 {
    font-size: 110px;
    font-family: 'NomeDaFonteAdobe', serif;
    font-style: italic;
    font-weight: 300;
    height: 80px;
    margin-left: 20px;
}

.hero-title2 {
    font-size: 150px;
    font-family: 'NomeDaFonteAdobe', serif;
    font-style: italic;
    font-weight: 300;
    z-index: 11;
    margin-left: 20px;
    height: 180px;
}

.hero-name {
    font-size: 65px;
    margin-left: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    font-style: italic;
    height: 30px;
}

.hero-img {
    display: flex;
    position: absolute;
    left: 50%;         
    bottom: 0;        
    transform: translateX(-50%);
}

img {
    width: 400px;
}